@charset "UTF-8";
/* CSS Document */

body
{
	background-color: lightSkyBlue;
	font-family:Arial, Helvetica, sans-serif;
}

#main_container
{
	width: 1152px;
	height: 1656px;
	margin: 0 auto;
	background-image:url(../images/background.jpg);
}

#header
{
	padding:14px 16px;
}

#logo
{
	float:left;
	width:360px;
	height:224px;
	position:absolute;
	z-index:1000;
}

#loginTab
{
	position:relative;
	left:980px;
	top:-14px;
}

#header ul
{
	margin: 0px 363px;
	width:596px;
	height:28px;
	/*background-image:url(../images/menu.png)*/
}

#header ul li
{
	height: 38px;
	margin-left: 24px;
	text-indent: -999em;
	background-repeat: no-repeat;
	float:left;
}

#inicio
{
	width:87px;
	background-image:url(../images/inicio_btn.png);
}

#acerca
{
	width:183px;
	background-image:url(../images/acerca_btn.png);
}

#productos
{
	width:124px;
	background-image:url(../images/product_btn.png);
}

#blog
{
	width:87px;
	background-image:url(../images/blog_btn.png);
}


#inicio:hover
{
	background-image:url(../images/inicio_over.png);
}

#acerca:hover
{
	background-image:url(../images/acerca_over.png);
}

#productos:hover
{
	background-image:url(../images/product_btn.png);
}

#blog:hover
{
	background-image:url(../images/blog_over.png);
}

#content
{
	width: 1028px;
	height: 1006px;
	margin-top:38px;
	margin-left: 63px;
}

#buscar
{
	width: 297px;
	height: 42px;
	background-image: url(../images/buscar_img.jpg);
	margin-left: 361px;
}

#buscar input
{
	text-align: center;
	font-size:18px;
	width: 247px;
	height: 36px;
	margin: 2px 0px 0 3px;
	border: none;
}

#categorie_btn
{
	float:left;
	margin-left: 40px;
	margin-top: 45px;
}

#categories_menu img
{
	z-index:10;
}

#categories_menu
{
	z-index:100;
	margin-top:-10px;
	border:solid 1px #000000;
	padding-bottom:10px;
	width:328px;
	position: relative;
	background-color:white;	
}

#categories_menu ul li
{
	margin-top:10px;
}

#categories_menu ul li:hover
{
	background-color:#09F;
	color:#FFFFFF;
	cursor: pointer;
}

#inicio_paragraphs
{
	float:right;
	width: 610px;
	margin-right: 15px;	
	margin-top: 40px;
	height: 450px;
}

#inicio_paragraphs p
{
	margin: 5px 5px;
	font-size:18px;
}

#inicio_paragraphs h2
{
	font-size:36px;
	margin: 10px 0 10px 0;
}

/*#inicio_paragraphs div.horizontal-line
{
	height: 2px;
	background-color:#999;
	margin: 20px 0 20px 0;
}*/

div.horizontal-line
{
	height: 1px;
	background-color:#999;
	margin: 20px 0 20px 0;
	clear:both;
}

#carousel_abajo
{
	margin: 80px 0 80px 35px;
}

#lapa
{
	background-image: url(../images/lapa1.png);
	width: 329px;
	height: 406px;
	position: relative;
	top: -750px;
	left: 30px;
}

#lapa2
{
	background-image:url(../images/lapa2.png);
	width: 313px;
	height: 154px;
	position: relative;
	top: -1351px;
	left: 670px;
}

#footer
{
	position: relative;
	top: 280px;
	left: 240px;
}

#footer ul li
{
	display: inline;
	margin-left: 80px;
}